In [1]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC

In [2]:
df = pd.read_csv('drug200.csv')
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [3]:
from sklearn.model_selection import train_test_split
target = 'Drug'
X = df.drop([target],axis = 1)
y = df[target]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [4]:
categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']
numerical = [col for col in X_train.columns if X_train[col].dtypes != 'O']

In [5]:
categorical

['Sex', 'BP', 'Cholesterol']

In [6]:
numerical

['Age', 'Na_to_K']

##### Preprocessing

In [7]:
# Encoding
import category_encoders as ce
encoder = ce.OneHotEncoder(cols = categorical)
X_train = encoder.fit_transform(X_train)
X_test = encoder.fit_transform(X_test)

In [8]:
X_train.head()

In [9]:
# it is good to drop one column from each attribute after applying one hot encoding to avoid problems
to_drop = ['Sex_1','BP_1','Cholesterol_1']
X_train.drop(to_drop,axis = 1,inplace = True)
X_test.drop(to_drop,axis = 1,inplace = True)
cols = X_train.columns

###### Feature Scaling

In [10]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])

ValueError: Shape of passed values is (160, 6), indices imply (160, 9)

Hyperparameters for Support Vector Machines  <br>
C => Positive float => 1.0 <br>
kernel => [â€™linearâ€™, â€™polyâ€™, â€™rbfâ€™, â€™sigmoidâ€™] => â€™rbfâ€™ <br>
gamma => [â€™scaleâ€™, â€™autoâ€™] or positive float => â€™scaleâ€™ <br>
degree => Positive integer => 3 <br>

###### With default Hyperparameters

In [ ]:
from sklearn.model_selection import cross_val_score